dt {
    float: left;
    margin-right: 7px;
}

.favorable {
    background-color: green;
}

.moderate {
    background-color: yellow;
    color: black;
}

.severe {
    background-color: red;
}

.card-weather {
    float: left;
}

.hide {
    display: none;
}